.box{background: rgba(255, 255, 255, 0.03);
    width: 100%;
    max-width: 500px;

    margin: 32px auto;
    padding: 20px;
    color: rgba(240, 248, 255, 0.943);
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
}
h2{
    font-size: 60%;
    padding-bottom: 30px;
}
h1{
    font-size: 150%;
    color: #ff0000ac;
    padding-bottom: 10px;
}
p, h3{
    text-align: left;
    padding: 10px;
    text-indent: 10px;
}
.imagem{
    max-width: 30%;
    margin: auto;
}
h3{
    color: #ff0000ac;   
}
.fundo{
    max-width: 8%;
}
.box-img{
    display: inline;
    max-height: 20%;
    
}